<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>724149914126-294l7nb85ld2oglu424vi5csksnolvvd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.724149914126-294l7nb85ld2oglu424vi5csksnolvvd</string>
	<key>API_KEY</key>
	<string>AIzaSyDpttsoVg2MqvfeJvu7bOfHpWQ_K2_V8kA</string>
	<key>GCM_SENDER_ID</key>
	<string>724149914126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Taipov-Enteprise.Kimep-App</string>
	<key>PROJECT_ID</key>
	<string>kimep-app</string>
	<key>STORAGE_BUCKET</key>
	<string>kimep-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:724149914126:ios:489ebabfbb305451d5ca5f</string>
</dict>
</plist>